.cover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

.all-stacks{
    width:80%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(139, 158, 243);
    border-radius:10px;
    transition:inherit;
    margin: 4rem 10%;
}

.all-stacks h1{
    margin: 1vh;
}

.image-stack{
    align-items: center;
    justify-content: center;
    width:90%;
    margin-left: 1rem;
}
.add-image{
    width:100%;
    height:50vh;
    margin-top: 1rem;
    background-color: lightgray;
    align-items: center;
    justify-content: center;
}

.add-image-tab{
    width:100%;
}

@media screen and (max-width:800px){
    .all-stacks{
        flex-direction: column;
    }
    .image-stack{
        width:90%;
        margin-left: 0;
    }
}

.all-stacks .close-btn {
    position: absolute;
    bottom: 16px;
    right: 16px;
}