.one-tile{
    display: flex;
    margin: 2rem;
    box-shadow: 0 0 20px 10px gray;
    border-radius:2px;
    background-color: white;
    width:70%;
}

.tile-list{
    overflow-y: auto;
    top:10vh;
    align-items: center;
    width:100%;
    display:flex;
    flex-direction: column;
}

.tile-img{
    width: 20%;
    object-fit:cover;
}

.tile-body{
    font-size: larger;
    margin-left: 10px;
    width:70%;
}

.tile-date{
    font-weight: bold;
    font-size:smaller;
}

.tile-address{
    margin-top:1rem;
    color:goldenrod;
    font-size:smaller;
}
.tile-address::before{
    content:"Address: ";
    position:relative;
    color:black;
}

.tile-desc{
    margin-top: 1rem;
    word-wrap:break-word;
    font-size:smaller;
    line-height:1.4;
}
.tile-desc::before{
    content:"Description: ";
    position:relative;
    color:black;
}

.tile-rating{
    color:rgb(0, 72, 226);
    margin-top:0.6rem;
    text-align: center;
}

.tile-user{
    color:rgb(54, 77, 206);
    margin-top:1.5rem;  
}

.tile-user::before{
    content:"Hosted by: ";
    position:relative;
    color:rgb(0, 0, 0);
}

@media screen and (max-width:1000px){
    .tile-img{
        width:30%;
    }
    .tile-body{
        font-size: medium;
    }
}
@media screen and (max-width:600px){
    .tile-img{
        width:40%;
    }
    .tile-body{
        font-size: smaller;
    }
    .one-tile{
        width:90%;
    }
}