.card-login{
    background-color: #5bc0de;
    box-shadow: 0 0 10px 5px gray;
    border-radius:10px;
    display:flex;
    transition:inherit;
    margin: 4rem 0;
    align-items: center;
    justify-content: center;
}
