.pop-card {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
 
}

.pop-card-inner {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    right:0;
    position: relative;
    padding: 32px;
    width: 100%;
    height:40%;
    max-width: 640px;
    background-color: white;
    z-index: 5;

}

.pop-card-inner .close-btn {
    position: absolute;
    top: 16px;
    right: 16px;
    z-index: 5;

}

.pop-card-img{
    height:40%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.pop-card-rating{
    color:rgb(0, 72, 226);
    font-size:1.4rem;
    margin-top:0.6rem;  
}
.pop-card-rating::before{
    content:"Upvotes: ";
    position:relative;
    color:rgb(0, 0, 0);
}

.pop-card-user{
    color:rgb(9, 255, 0);
    font-size:1rem;
    margin-top:1.5rem;  
}

.pop-card-user::before{
    content:"Posted by: ";
    position:relative;
    color:rgb(0, 0, 0);
}